img{
    border-radius: 5px !important;
}
.col-md-3{
    margin: 30px !important;
}
P{
    font-weight: bold;
    font-size: 22px !important;

}
#navbar{
    background-color: rgb(24, 24, 24);
    height: 100 px;
    
  
}
li{
    color: white;
    list-style-type: none;
    display: inline;
}

li a{
    text-decoration: none;
    color: white;
    margin: 15px;
    
}

#nav-elements{
    text-align: center;
    padding: 10px;
   
}
#title{
    font-size: 30px;
    
}
#footer{
    background-color: rgb(79, 5, 5);
    color: white;
    text-align: center;
    padding: 10px;
}